.btn-badge {
    font-size: 1rem;
    padding: 0.25em 0.4em;
    line-height: 1;
    border-width: 0;
    font-weight: 700;
}

.btn-badge:hover {
    color: #fff !important;
}

.btn-light-border {
    border-color: #6c757d !important;
}

.form-textarea {
    resize: none;
}

.admin-pagination .pagination .page-item .page-link {
    color: #fff !important;
    padding: 8px 15px;
    font-size: 1.1rem;
}

.admin-pagination .pagination .page-item .page-link:hover {
    border-color: #fff;
}

.admin-pagination .pagination .active .page-link {
    border-color: #fff;
    background-color: #fff !important;
    color: #444 !important;
}

.admin-pagination .pagination .active .page-link:hover {
    color: #444 !important;
}

.admin-pagination .pagination .disabled .page-link {
    color: #6c757d !important;
}

/* Create/update post admin */
.tags-checkbox {
    display: none;
}

.tags-label {
    padding: 0 3px;
    color: #aaa;
    cursor: pointer;
}

.tags-checkbox:checked + .tags-label .tag-badge {
    background-color: #28a745;
}

.tags-checkbox:checked + .tags-label {
    color: #fff;
    text-decoration: underline;
}

.category-prepend-label .input-group-text {
    height: calc(2.25rem + 2px);
    font-weight: normal !important;
    color: rgba(255,255,255,0.5);
}

.status-toggle-publish.active {
    background-color: #28a745 !important;
}

.status-toggle-unpublish.active {
    background-color: #ffc107 !important;
}

.search-form .search-input {
    margin: 0 5px;
    background-color: transparent !important;
    outline: none !important;
    border: none;
    border-radius: 0 !important;
    border-bottom: 1px solid #6c757d;
    font-size: 1.1rem;
}

.search-form .search-input:hover,
.search-form .search-input:focus {
    border-color: #fff;
}

.search-form .search-input::-webkit-search-decoration,
.search-form .search-input::-webkit-search-cancel-button,
.search-form .search-input::-webkit-search-results-button,
.search-form .search-input::-webkit-search-results-decoration { display: none; }

.image-block {
    height: 300px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.image-block img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tags-heading {
    color: rgba(255,255,255, 0.5);
}

