.btn-badge {
    font-size: 1rem;
    padding: 0.25em 0.4em;
    line-height: 1;
    border-width: 0;
    font-weight: 700;
}

.btn-badge:hover {
    color: #fff !important;
}

.btn-light-border {
    border-color: #6c757d !important;
}

.form-textarea {
    resize: none;
}

.link-detail:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #444;
    cursor: pointer;
}
